/* Additional styles if needed */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #282c34;
  padding: 1rem;
  color: white;
  text-align: center;
}

.header input {
  width: 100%;
  max-width: 400px;
  padding: 0.5rem;
  margin-top: 1rem;
}

.sidebar {
  background-color: #f8f9fa;
  padding: 1rem;
  width: 200px;
  flex-shrink: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 1rem;
}

.sidebar ul li a {
  text-decoration: none;
  color: #000;
}

.footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}

.footer a {
  color: #61dafb;
  margin: 0 1rem;
}

.main {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 1rem;
}

.company-details {
  max-width: 800px;
  margin: 0 auto;
}

.company-details h2 {
  margin-bottom: 1rem;
}

.company-details p {
  margin-bottom: 2rem;
}


.map-container {
  height: 400px; 
  width: 400px;
  margin-top: 1rem;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
